.recentposts aside {
	margin-bottom: 1em;
}

.recentposts aside h3 {
	color: #404040;
	border-bottom: 1px solid #e74c3c;
	font-weight: bold;
	padding-bottom: 0.2em;
	margin-bottom: 0.5em;
	display: inline-block;
	font-size: 1.5em;
}

.recentposts aside li {
	list-style-type: none;
	margin-bottom: 0.2em;
}

.recentposts aside li a {
	text-decoration: none;
	color: #787878;
}

.recentposts aside li a:hover {
	border-bottom: 1px solid #e74c3c;
}